<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(item, key, index) in list" v-bind:key="item.id">
                {{index}} {{key}} ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
            </li>
        </ul>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <circle cx="100" cy="75" v-bind:r="radius" fill="lightpink"/>
        </svg>
        <input type="range" min="0" max="100" v-model="radius">
        <img v-bind="item" v-bind:id="'thumb-' + item.id">
        <p v-bind:class="classObject">text</p>
        <p v-bind:style="styleObject">text</p>

        <p>{{ count }} 回クリックしたよ！</p>
        <button v-on:click="increment">up count</button>
        <button v-on:click="decrement">down count</button>
        <br>
        <input type="text" :value="message">
        <button v-on:click="show=!show">切替</button>
        <transition>
            <p v-if="show">hello vue.js!</p>
        </transition>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>