<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="app">
        <!-- このフォームの入力値を新しいモンスターの名前に使う -->
        名前 <input v-model="name">
        <button v-on:click="doAdd">モンスター追加</button>
        <ul>
            <li v-for="item in list"
                v-bind:key="item.id"
                v-bind:class="{ tuyoi: item.hp > 300 }">
                ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
                <span v-if="item.hp > 300 ">つよい！</span>
            </li>
        </ul>
        <ul>
            <li v-for="item in list"
                v-if="item.hp < 300"
                v-bind:class="{ yowai: item.hp < 300 }">
                ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>